{{>head }}
{{>navbar }}

<div class="w-full max-w-5xl mx-auto min-h-screen py-32 px-10">
    <div class="w-full h-fit flex flex-col-reverse sm:flex-row items-center justify-between pt-20">
        <div class="w-full sm:w-2/6">
            <h1 class="text-4xl font-bold mb-2">Welcome to Web Task</h1>
            <p class="mb-6">Add your task or todo list today and make your day better</p>
            <a href="/register" class="w-full block text-center py-4 px-8 text-xl font-semibold rounded-2xl bg-blue-600 text-white hover:bg-blue-700 active:bg-blue-900 active:scale-95 duration-75">Get started</a>
        </div>
        <div class="w-full sm:flex-1 flex justify-end mb-10 sm:mb-0">
            <img src="/img/home.svg" alt="home" class="w-full sm:w-4/5">
        </div>
    </div>
</div>

{{>foot }}