<nav class="fixed z-20 top-0 left-0 right-0 w-full h-fit px-5 bg-slate-900">
    <div class="w-full max-w-4xl mx-auto py-5 flex items-center justify-end gap-4">
        {{#if session.user }}
        <a href="/logout" class="py-2 px-5 rounded-full bg-yellow-600 text-white hover:bg-yellow-800 active:scale-95 duration-75">Logout</a>
        {{else }}
        <a href="/login" class="py-2 px-5 rounded-full bg-yellow-600 text-white hover:bg-yellow-800 active:scale-95 duration-75">Login</a>
        <a href="/register" class="py-2 px-5 rounded-full bg-yellow-600 text-white hover:bg-yellow-800 active:scale-95 duration-75">Register</a>
        {{/if }}
    </div>
</nav>